* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(360deg, rgba(126, 233, 255, 1) 0%, rgba(4, 128, 200, 1) 25%, rgba(4, 128, 200, 1) 50%, rgba(9, 9, 121, 1) 75%, rgba(2, 0, 36, 1) 100%);
    width: 100%;
}

.contenedorFormulario {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-rows: auto auto 650px;
    grid-gap: 20px;

}

.logo {
    width: 90px;
    height: 90px;
    border-left: 5px solid #ff006e;
    border-radius: 50%;
    animation: rightrotate 900ms linear infinite;
}

.logo::before,
.logo::after {
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border-right: 4px solid #3a86ff;
    border-radius: 50%;
    animation: leftrotate 900ms linear infinite;
}

.logo::after {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    border: 0;
    border-left: 3px solid #ffbe0b;
    animation: none;
}

@keyframes leftrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes rightrotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.header {
    padding: 20px;
    font-family: 'Syncopate', sans-serif;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0) 75%);
    text-align: left;
    border-radius: 15px;
    color: white;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    grid-gap: 20px;
}

h3 {
    padding: 15px;
    font-family: 'Syncopate', sans-serif;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0) 50%);
    border-radius: 15px;
    text-align: left;
    color: white;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

form {
    width: 50%;
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;

}

.form {
    width: 100%;
    margin: auto
}

.form .grupo {
    position: relative;
    margin: 45px;

}

input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(9, 9, 121, 1);
}

input:focus {
    outline: none;
    color: rgba(9, 9, 121, 1);
}

label {
    color: rgba(9, 9, 121, 1);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.2s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:not(:placeholder-shown)~label {
    top: -14px;
    font-size: 12px;
    color: black;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(126, 233, 255, 1) 0%, rgba(4, 128, 200, 1) 25%, rgba(4, 128, 200, 1) 50%, rgba(9, 9, 121, 1) 75%, rgba(2, 0, 36, 1) 100%);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}

button {
    background: linear-gradient(90deg, rgba(126, 233, 255, 1) 0%, rgba(4, 128, 200, 1) 25%, rgba(4, 128, 200, 1) 50%, rgba(9, 9, 121, 1) 75%, rgba(2, 0, 36, 1) 100%);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    form {
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    form {
        width: 100%;
    }
}